<%- include("header"); -%>

<div class="box" id="heading">
<h1>About Todo App</h1>
</div>

<div class="box">
  <p class="p-body"> This is a Web application that allows you to create your todolist each day.</p>
</div>

<%- include("footer"); -%>
