<%- include("header"); -%>

<div class="box" id="heading">
<h1>Contact Me</h1>
</div>

<div class="box">
  <p class="p-body"> Want a Todo List Web Application? Contact Me: hdaniel7475@gmail.com</p>
</div>

<%- include("footer"); -%>
