html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #ff7657, #E4E9FD);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #ff7657;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}
.p-body{
  text-align: center;
}

header{
    width: 100%;
    border-radius: 10px;
}

ul {
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #ff7657;
  text-align: center;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

li {
  list-style-type: none;
  display: inline;
  margin: auto;
}

li a {
  display:inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Arial";
}

li a:hover {
  background-color: white;
  color: #ff7657;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}


form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ff7657;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #ff7657;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  text-align: center;
}
